<%= link_to "Home Page", root_path, class: "user_menu" %>
<%= link_to "Update Account", edit_user_path(@user), class: "user_menu" %>

<h1>Crimes in your area</h1>

<div id="map-canvas" class="map_show"></div>

<div id="locationField" class="locationField">
  <input id="autocomplete" placeholder="Enter your address" onFocus="mapPage.geolocate()" type="text">
</div>
