<h1>Close to Home</h1>

<div class="my_locations">
  <% if current_user %>
    <%= link_to "My Locations", current_user %>
  <% else %>
    <%= '' %>
  <% end %>

</div>

<div id="map-canvas" class="map_index"></div>
